* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.05em;
  }
  .font-serif {
    font-family: 'Georgia', serif;
  }